@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #141519;
  --container-color: #1E252F;
  --input-hover: #F77817;
  --input-checked: #7C8A97;
  --input-default: #262F38;
  --letter-color: #8c98a3;
}

body {
  background: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
}

main {
  width: 28em;
  height: 28em;
  background: var(--container-color);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
}

.star-icon {
  margin: 40px 0 20px 40px;
  border-radius: 50px;
  width: 3em;
  height: 3em;
  background: var(--input-default);
  display: flex;
  justify-content: center;
  align-items: center;
}

main h1 {
  margin: 10px 0 15px 40px;
}

.description {
  width: 25em;
  height: 5em;
  margin: 0 40px;
  line-height: 25px;
  color: var(--letter-color);
  font-size: 0.9em;
}

.classifications {
  margin: 30px 40px;
  display: flex;
  justify-content: space-between;
}

.rate {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: none;
  background: var(--input-default);
  color: var(--letter-color);
  cursor: pointer;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  padding: 15px 150px;
  border-radius: 50px;
  background: var(--input-hover);
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 15px;
  cursor: pointer;
}

.rate:hover {
  background: var(--input-hover);
  color: white;
}

.rate:focus {
  background: var(--input-checked);
  color: white;
}

.submit:hover, :focus {
  background: white;
  color: var(--input-hover);
}

.two {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter",sans-serif;
}

.icon {
  margin-top: 10%;
  margin-bottom: 2em;
}

.boxToSelect .boxOrange {
  display: flex;
  justify-content: center;
  width: 15em;
  padding: 10px;
  margin: 5px auto;
  background: var(--input-default);
  color: rgba(255, 136, 0, 0.849);
  border-radius: 20px;
}

.boxToSelect .alignment {
  display: flex;
  justify-content: center;
  margin: 20px;  
}

.boxToSelect .thx {
  margin-top: 40px;
  font-size: 2em;
  font-family: "Inter", sans-serif;
}

.boxToSelect .toText {
  width: 380px;
  text-align: center;
  color: var(--letter-color);
}