@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #141519;
  --container-color: #1E252F;
  --input-hover: #F77817;
  --input-checked: #7C8A97;
  --input-default: #262F38;
}

body {
  background: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
}

main {
  width: 35em;
  height: 35em;
  background: var(--container-color);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.star-icon {
  margin: 30px 0 20px 40px;
  border-radius: 50px;
  width: 3em;
  height: 3em;
  background: var(--input-default);
  display: flex;
  justify-content: center;
  align-items: center;
}